#main_bg {
    padding-top: 60px;
    //width: 1170px;
    height: 668px;
    margin: auto;
    background-image: url(/images/main_bg.png); 
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}
.search_tab {
    width: 367px;
    height: 207px;
    background: url(/images/search_tab_bg.png) no-repeat center;
    float: right;
    margin: 0 235px 0 0;
}
@media (max-width: 767px) {
    .search_tab  {
        margin: -60px 135px 0 0;
    }
}
.search_title {
    color: #cf0a09;
    font-size: 14px;
    padding: 25px 0 0 60px;
}
